.banner-principal-decorativo
  &-1
    animation: float1 3.5s ease-in-out infinite alternate
    position: absolute
    top: 35%
    right: 80%
    width: 16%
  &-2
    animation: float1 2.8s ease-in-out infinite alternate
    position: absolute
    top: 5%
    right: 42%
    width: 16%
@keyframes float1
  0%
    transform: translateY(20px)
  100%
    transform: translateY(0px)


.fa-ul
  margin-left: 0 !important
  li
    display: flex !important
    &:before
      position: relative
      margin-right: 7px
      font-size: 1.4rem
.f-12 i      
  font-size: 12px
.lista-ul--color.color-secundario li > i:first-of-type
  color: $color-secundario
.lista-ul--color.color-acento-botones li > i:first-of-type
  color: $color-acento-botones
.w-25-th
  width: 25% !important;
.w-35-th
  width: 35% !important;
.w-50-th
  width: 50% !important;
.w-30
  width: 30px !important
.w-60
  width: 60px
.w-105
  width: 105px  
.txt-start
  text-align: start !important
.bg1
  background-color: #1a1a1a !important
.bg2
  background-color: #E5EDEE 
.bg3
  background-color: #91B7B9 
.bg4
  background-color:#73D8C0
.bg5
  background-color: #DCF7F1 !important
.bg6
  background-color:#F2F6F6
.bg7
  background-color:#FDEAE4
.bg8
  background-color:#EAFAF7
.bg9
  background-color:#fff
  border-radius: 20px
.txt1
  color: #025157

.fondo-cta
  background: url('../assets/curso/temas/t1/fondo-cta.svg')
  background-position: center
  background-size: cover
  background-repeat: no-repeat
  margin-inline: -3.4rem
  @media screen and (max-width: 992px)
    background-size: cover
    margin-inline: -1.4rem 
.fondo-cta2
  background: #73D8C0
  margin-inline: -3.4rem
  @media screen and (max-width: 992px)
    margin-inline: -1.4rem  
.fondo-cta3
  background: url('../assets/curso/temas/t3/fondo-cta3.svg')
  background-position: center
  background-size: cover
  background-repeat: no-repeat
  margin-inline: -3.4rem
  @media screen and (max-width: 992px)
    background-size: cover
    margin-inline: -1.4rem 
.fondo-t1
  background: url('../assets/curso/temas/t1/fondo-t1.png')
  background-position: center
  background-size: 100% 100%
  background-repeat: no-repeat
  margin-inline: -3.4rem
  @media screen and (max-width: 992px)
    background-size: cover
    margin-inline: -1.4rem 
.fondo-t32
  background: url('../assets/curso/temas/t3/fondo-t32.png')
  background-position: center
  background-size: 100% 100%
  background-repeat: no-repeat
  margin-inline: -3.4rem
  @media screen and (max-width: 992px)
    background-size: cover
    margin-inline: -1.4rem 
.fondo-cta32
  background: url('../assets/curso/temas/t3/fondo-cta32.png')
  background-position: center
  background-size: 100% 100%
  background-repeat: no-repeat
.fondo-t22
  background: url('../assets/curso/temas/t2/fondo-t22.png')
  background-position: center
  background-size: 100% 100%
  background-repeat: no-repeat
  margin-inline: -3.4rem
  @media screen and (max-width: 992px)
    background-size: cover
    margin-inline: -1.4rem 
.fondo-slyder
  background: url('../assets/curso/temas/t2/fondo-slyder.png')
  background-position: center
  background-size: 100% 100%
  background-repeat: no-repeat   

.borde-top-table
  border-top: 10px solid #73D8C0    
  td, th
    border: 1px solid #E8E8E8
  .no-border-right
    border-right: 0px
  .no-border-left
    border-left: 0px

.tarjeta--azul
  background-color: #CCDCDD !important
.tarjeta--verde
  background-color: #BAEFE4

.tabs-a__tab 
  background-color: #E8E8E8
.t1-4 .tabs-a__tab__text
  overflow: initial
  white-space: initial
.t2-2
  .slyder-a__bullets__item
    display: none
.slyder-a__btn--sigt, .slyder-a__btn--atrs
  background-color: #F5947A
  opacity: 0.9
.slyder-a__bullets__item
  background-color: #CFCFBF
  @media (max-width: $bp-max-xs)
    margin: 0 5px
.slyder-a__bullets__item--active
  background-color: #F5947A
  border-color: #F5947A

.z-99
  z-index: 999  
.mn-l
  margin-left: -20%
  @media (max-width: $bp-max-xs)
    margin-left: 0px
.mn-r
  margin-right: -20%
  @media (max-width: $bp-max-xs)
    margin-right: 0px
.mh-170
  min-height: 170px  
.br-tl
  border-top-left-radius: 20px
.br-tr
  border-top-right-radius: 20px
.col-40
  width: 40% 
.col-33
  width: 33.33% !important

.acordion__activo
  background-color: #CCDCDD  

.tarj-t23
  .tarjeta-avatar-b__img
    align-items: flex-start
    min-width: 15%
    max-width: 15%
    @media (max-width: $bp-max-xs)
      min-width: 20%
      max-width: 20%

.slyder-f.t-23 
  .tarjeta
    border: 5px solid #025157  
    transition: all 0.3s ease-out
    &:hover
      border-color: #73D8C0
      transition: all 0.3s ease-out
    img
      margin: 0 auto 
  .separacion
    display: flex
    flex-direction: column
    justify-content: space-between    

.slyder-f.t33  
  .tarjeta-avatar > img
    width: 90%
    @media (max-width: $bp-max-sm)
      width: 70%
  .tarjeta-avatar .tarjeta
    padding-top: 155px !important
    @media (max-width: $bp-max-sm)
      padding-top: 42% !important

.table33 
  tr, td
    vertical-align: initial